@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    min-height: 100%;
}

body {
    width: 100%;
    min-height: 100vh;
    background: black;
    overflow-x: hidden;
    overflow-y: auto;
}

#root {
    width: 100%;
    min-height: 100vh;
}

.landing {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: black;
}

.landing-content {
    position: relative;
    z-index: 5;
}