/* =======================================================
   HYPERSPEED TRANSITION
======================================================= */

.hyperspeedTransition{

    position:fixed;

    inset:0;

    width:100vw;

    height:100vh;

    z-index:9999;

    overflow:hidden;

    background:#000000;

    opacity:0;

    pointer-events:none;

    transition:

        opacity .8s ease;

}


/* =======================================================
   ACTIVE
======================================================= */

.hyperspeedTransition.isActive{

    opacity:1;

}


/* =======================================================
   LEAVING
======================================================= */

.hyperspeedTransition.isLeaving{

    opacity:0;

}


/* =======================================================
   HYPERSPEED CANVAS
======================================================= */

.hyperspeedTransition canvas{

    display:block;

    width:100% !important;

    height:100% !important;

}