.particles{

position:absolute;

left:50%;

bottom:120px;

transform:translateX(-50%);

pointer-events:none;

z-index:15;

}

.particle{

position:absolute;

width:3px;

height:16px;

background:

linear-gradient(

180deg,

#c8ffff,

#58deff,

transparent

);

border-radius:20px;

filter:

blur(1px)

drop-shadow(0 0 10px #58deff);

opacity:0;

animation:particle var(--duration) linear infinite;

animation-delay:var(--delay);

}

@keyframes particle{

0%{

opacity:0;

transform:

translate(0,0)

scale(.2);

}

10%{

opacity:1;

}

100%{

opacity:0;

transform:

translate(

var(--x),

220px

)

scale(1);

}

}